.button
  padding: 13px 28px
  border: none
  border-radius: 2px
  text-transform: uppercase
  box-shadow: 0px 5px 15px rgba($primery, 0.2)
  &:hover
    cursor: pointer
  &--prymery
    background-color: $primery
    color: $light
    transition: box-shadow 0.3s
    &:hover
      box-shadow: none
  &--outline
    border: 1px solid $light
    color: $light
    background-color: transparent  