@media screen and ( max-width: 1200px )
  html
    font-size: 9px  
  .logo
    display: none  
  


@media screen and ( max-width: 826px ) 
  .left
    display: none
  .menu
    margin-left: 7px  
  .nav__item
    margin-right: 1rem  
  .down
    display: none     

@media screen and ( max-width: 646px )
  .hero__container
    max-width: 36rem
    margin-left: 4.285rem
  .nav
    display: none
  .logo
    display: block
  .right__button
    margin-bottom: 1.85rem 

@media screen and ( max-height: 470px )
  .hero
    &__down
      display: none
    &__container
      margin-top: 20px         

@media screen and ( max-width: 424px )
  .contacts__button
    display: none
  .fone
    color: $light
    text-decoration: none
  .hero__right
    margin-top: 85px 
  .hero__container 
    margin-left: 18px 
    max-width: 100%
    margin-right: 18px  
  .right__button
    width: 100%  

    
        