
  
@media screen and ( max-width: 1290px )
  .row
    display: flex
    justify-content: space-around
  .col
    margin-bottom: 6rem

@media screen and ( max-width: 1200px )
  body, .logo, .item, .button
    font-size: 0.7rem
   
  .wrap
    &--title
      font-size: 1.33rem
      &--line
        margin-bottom: 0.43rem
    &__text
      font-size: 0.95rem  
      max-width: 335px
  .wrap1
    &--title
      font-size: 0.95rem
    &--text
      font-size: 0.8rem  
      padding-bottom: 0
  .swiper-pagination-bullet
  
  width:  7px
  height: 7px
      
  
  .hero__container
    margin-left: 10.14rem  
    font-size: 9px  
   
  
@media screen and ( max-width: 998px )
  .row1
    flex-direction: column
    &--col50
      
      width: 100%
      order: 2
  .col50
    width: 100% 
    order: 1 
    margin-bottom: 2.357rem
   
  .logo
    display: none 
  .control__video
   max-width: 49rem
   min-height: 29.5rem
     

@media screen and ( max-width: 826px ) 
  .hero__container
    
    margin-left: 4.285rem
  .title
    font-size: 2.5rem
  .text
    font-size: 1.15rem  
  .left
    display: none
  .menu
    margin-left: 7px  
  .nav__item
    margin-right: 1rem  
  .down
    display: none 
  .service
    display: none  
  .control
    margin-left: 10px
    margin-right: 10px
    &__form
      justify-content: space-between
      align-items: flex-start

  .lable-input
    min-width: 450px
    margin: 20px 10px      
  .section-title__promo
    padding: 0 2.5rem


@media screen and ( max-width: 674px )
  .menu__logo
    margin-left: 15px
  .hero__container
    max-width: 36rem
    margin-left: 4.285rem
  .nav
    display: none
  .logo
    display: block
  .right__button
    margin-bottom: 1.85rem 
  .control__video
    max-width: 40rem
    min-height: 22.5rem 
  .row1
    padding-right: 3.2rem
    padding-left: 3.2rem
    padding-bottom: 60rem  
  .control
    margin-top: -59rem
    &__text    
      color: $light  
    
@media screen and ( max-height: 470px )
  .control__video
    max-width: 40rem
    min-height: 20.5rem 
  .lable-input
    min-width: 250px  
  .hero
    &__down
      display: none
    &__container
      margin-top: 20px         

@media screen and ( max-width: 424px )
  .conrainer1
    width: 94%
  .contacts__fone
    margin-right: 15px
  .contacts__button
    display: none
  .fone
    color: $light
    text-decoration: none
  .hero__right
    margin-top: 85px 
  .hero__container 
    margin-left: 18px 
    max-width: 100%
    margin-right: 18px  
  .right__button
    width: 100%  
  .card__title
    font-size: 1.07rem
  .card__item
    font-size: 0.93rem
    line-height: 169.8%
  .card__pricetag 
    font-size: 1.07rem
    padding: 0.78rem 2rem
  .card__text
    padding: 1.1rem 2.14rem 
    margin-top: -10.4rem
  .card__list
    margin-bottom: 1.4rem

    
        