.for-text
  max-width: 23.14rem
  
  margin: auto
.txt
  font-family: Yeseva One, cursive
  font-style: normal
  font-weight: normal
  font-size: 1.21rem
  line-height: 1.71rem
  text-transform: uppercase
  color: $light
.m2
  margin-right: 15px  
.client
  background: $light 
  padding-bottom: 25.28rem
  &--reviews
    position: relative
    width: 26.85rem
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04)
    margin: auto
    
    padding-bottom: 4.5rem
  &__profile-img
    border-radius: 50%
    width: 5.43rem
    height: 5.43rem
  &__name
    max-width: 14.07rem
    font-family: Yeseva One, cursive
    font-style: normal
    font-weight: normal
    font-size: 1.28rem
    line-height: 2.09rem
    color: $black
    margin-left: 1.64rem
  &__param
    position: absolute
    display: flex
    align-items: center
    background-color: $primery
    margin-top: 1.64rem
  &__param1
    display: flex
    align-items: center
    border-right: 1px solid $light
    padding: 11px 17px
  &__param2
    display: flex
    align-items: center
    
    padding: 11px 17px     

  &__profile
    display: flex
    align-items: center
  
    

  &__text
    font-family: FuturaBookC, sans-serif
    font-style: normal
    font-weight: normal
    font-size: 1.07rem
    line-height: 1.785rem
    color: $secondary 
    margin: auto
    margin-bottom: 50px
    
