

.section-title
  max-width: 207px
  margin: auto
  display: flex
  flex-direction: column
  align-items: center
  &__image
    display: flex
    align-items: center
    &::before, &::after
      content: ''
      width: 32px
      height: 2px
      background-color: $primery
      margin: 0 10px
      


.section-title__heading  
  font-family: Yeseva One, cursive
  font-style: normal
  font-weight: normal
  font-size: 20px
  line-height: 28px
  text-align: center;
  text-transform: uppercase;