.footer
  &__form
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    max-width: 37.14rem
    margin: auto
    margin-top: 3.27rem
    
  &-wrap
    background-color: $black
    max-width: 63.07rem
    margin: auto
    padding: 2.5rem 0
  &--title
    font-family: Yeseva One, cursive
    font-style: normal
    font-weight: normal
    font-size: 1.43rem
    line-height: 1.85rem
    text-transform: uppercase
    text-align: center
    color: $light 
  &--input
    color: $light
    background: transparent
    font-family: FuturaMediumC, sans-serif
    font-style: normal
    font-weight: 300
    font-size: 18px
    line-height: 25px
    border: none
    border-bottom: 1px solid rgba(255, 255, 255, 0.5)
    &::placeholder
      color: $light
      font-family: FuturaBookC, sans-serif
      font-style: normal
      font-weight: 200
      font-size: 1.15rem
      line-height: 1.71rem
    
  &__label-input
    max-width: 16.5rem
    width: 50%
    display: flex
    flex-direction: column
    &-qestion
      width: 100%
      display: flex
      flex-direction: column
      margin-top: 3.43rem
      margin-bottom: 3.29rem
  &--lable
    max-width: 20.357rem
    align-self: center
    width: 100%
    font-family: FuturaBookC, sans-serif
    font-style: normal
    font-weight: normal
    font-size: 1.07rem
    line-height: 20px
    color: $light
    margin-bottom: 3.57rem
  &__button
    align-self: center
    padding-right: 3.77rem
    padding-left: 3.77rem
  &--policy
    display: flex
    justify-content: center  
.policy-button
  width: 100%
  display: flex
  flex-direction: column    