header
  position: fixed
  left: 0
  top: 0
  width: 100%
  background-color: $dark
  padding: 24px 0
  z-index: 10


  
  
  

.menu
  display: flex
  justify-content: space-between
  align-items: center
  margin-left: 45px

.logo
  color: $primery
  text-transform: uppercase

.nav
  &__item
    text-decoration: none
    color: $light
    text-transform: uppercase
    margin-right: 40px
    transition: color 0.2s
    &:hover
      color: $primery  

.fone
  color: $primery

.contacts
  display: flex
  align-items: center
  &__fone
    margin-right: 45px
