.hero
  background: $dark url('../img/hero-bg.jpg') no-repeat center / cover
  height: 100vh
  color: $light
  display: flex
  margin-top: 20px
  

.hero__right
  margin-top: 100px 
  position: relative 
  width: 100%
  
  

.hero__container
  max-width: 504px
  margin-left: 60px
  margin-top: 10%
  



.left
  max-width: 81px
  background-color: $dark
  display: flex
  justify-content: center
  align-items: center

.insta
  text-transform: uppercase
  color: $primery
  text-decoration: none
  display: inline-block
  transform: rotate(90deg)

.down
  color: $light
  text-transform: uppercase
  background-color: $dark
  padding: 34px 49px
  text-decoration: none
  display: block
  position: absolute

.hero__down
  font-size: 12px
  top: 91%
  left: -9%  

.title
  font-family: 'Yeseva One', cursive
  font-style: normal
  font-weight: normal
  text-transform: uppercase
  font-size: 40px
    
.title--prymery
  color: $primery

.text
  font-family: FuturaBookC
  font-style: normal
  font-weight: normal
  font-size: 22px  

.right__button
  margin-right: 20px  
